.header-header {
  width: 100%;
  height: 96px;
  display: flex;
  z-index: 999;
  position: fixed;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #d5e0fd;
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-image {
  width: 200px;
  height: auto;
  text-decoration: none;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.header-link {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink1 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-link1 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink2 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink3 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: 32px;
  height: 32px;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #B6B1F0;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logo {
  width: 135px;
  height: 32px;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-link2 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link3 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link4 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink4 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink5 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}







@media(max-width: 1600px) {
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
}
@media(max-width: 1200px) {
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
}
@media(max-width: 991px) {
  .header-header {
    height: 72px;
    padding: var(--dl-space-space-unit);
    align-items: center;
  }
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-image {
    width: 155px;
    height: auto;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
}
@media(max-width: 767px) {
  .header-header {
    height: 48px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-image {
    width: 100px;
    height: auto;
  }
  .header-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
}
@media(max-width: 479px) {
  .header-header {
    height: 48px;
    padding: var(--dl-space-space-halfunit);
  }
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-image {
    width: 100px;
    height: auto;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
  .header-mobile-menu {
    padding: 16px;
  }
}
