.icon-projects-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.icon-projects-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.icon-projects-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.icon-projects-text {
  align-self: center;
  font-family: "Poppins";
}
