@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html {
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F6F1;
  min-width: 700px;
}

nav {
	background-color: #F99E65;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px;
  user-select: none;
  position: fixed;
  width: 100%;
  z-index: 99;
}

nav p {
	color: #563522;
	font-weight: bold;
	margin: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	margin: 0;
	padding: 0;
  margin-right: 30px;
	list-style-type: none;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #563522;
	position: relative;
	text-decoration: none;
}

.currentPageNav {
  font-weight: bold;
}

nav ul li a::after {
	content: '';
	background-color: #563522;
	position: absolute;
	bottom: -18px;
	left: 0;
	opacity: 0;
	height: 2px;
	width: 100%;
	transition: transform 0.2s ease;
}

nav ul li a:hover::after {
	opacity: 1;
	transform: translateY(-15px);
}

.headerContainer {
  user-select: none;
  text-align: center;
  padding-top: 100px;
}

.headerPhoto img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.headerPhoto {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 100px;
}

.headerAboutMe {
  display: inline-block;
  vertical-align: center;
  width: 600px;
  height: 220px;
  margin-left: 10px;
  text-align: left;
  color:#563522;
  letter-spacing: 1px;
  margin-top: 100px;
}

.headerAboutMe h2 {
  font-size: 40px;
}

.headerAboutMe p {
  font-size: 20px;
}

.divider {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; 
  height: 20px; 
  border-bottom: 3px solid #F99E65; 
  text-align: center
}

.dividerText {
  font-size: 30px; 
  background-color: #F7F6F1;
  color: #563522; 
  padding: 0 50px;
}

.projectsContent {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.game {
  user-select: none;
  border-collapse: collapse;
  width: 90%;
  max-width: 1600px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color:#563522;
}

.game td:first-child {
  width: 50%;
  height: 200px;
}

.game td img:first-child {
  max-width: 800px;
  padding-top: 5px;
  margin-left: 0;
}

.game td:last-child {
  width: 50%;
  background-color: white;
}

.game h2, .game p {
  padding: 0;
  margin: 0;
  line-height: 40px;
}

.game h2 {
  font-size: 40px;
  letter-spacing: 2px;
  padding-top: 30px;
}

.game p {
  font-size: 14px;
}

.game h3 {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 0px;
}

.gameDescription {
  font-size: 16px;
  line-height: 1px;
  font-weight: 200;
  padding: 20px;
}

.gameGenre {
  font-weight: bold;
}

.gameResponsibilities {
  font-weight: bold;
}

.game ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.Itch, .learnMore, .steam {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.Itch {
  background-color: rgb(222, 43, 100);
  color: white;
}

.steam{
  outline: 1px solid #563522;
}

.divider2 {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 90%; 
  height: 20px; 
  border-bottom: 3px solid #F99E65; 
  text-align: center;
}

.dividerText2 {
  font-size: 30px; 
  background-color: #F7F6F1;
  color: #563522; 
  padding: 0 50px;
}

.carousel-container {
  position: relative;
  width: 50%;
  max-width: 900px;
  margin: 0 auto;
}

.carousel {
  height: 500px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.3s;
}

.slider section {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider img {
  width: 100%;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.controls .arrow i {
  font-size: 60px;
  color: #563522; 
}

.controls .arrow i:hover {
  font-size: 60px;
  color: #563522; 
  transition: all 0.4 ease;
}

.arrow.left {
  left: -40px;
}

.arrow.right {
  right: -40px;
}

.carousel-description-container {
  position: relative;
  width: 50%;
  margin: 10px auto;
}

.carousel-description {
  overflow: hidden;
}

.slider-description {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.3s;
}

.slider-description section {
  flex-basis: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0%); /*change this from 0, -33, -66*/
}

.otherWork {
  max-width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #563522; 
}

.otherWork p  {
  margin-top: -50px;
}

.otherWork h3 {
  margin-top: -20px;
}

.otherWork ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.otherWork button {
  margin-top: 20px;
}

.skills {
  color:#563522;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.skillsTable {
  width: 100%;
  list-style-position: inside;
  font-size: 24px;
  table-layout: fixed;
  text-align: center;
  vertical-align: center;
}

.skillsTable ul {
  list-style: none;
  padding: 0;
}

.skillsTable td {
  display: table-cell;
}

.headerTSJ h1, .headerTSJ h3 {
  margin: 0;
}

.headerTSJ h1 {
  font-size: 40px;
}

.TSJVideo {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 1024px;
  height: 576px;
  border: 1px solid gray;
  background-color: lightgray;
}

.TSJInformation {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.TSJInformation p, .TSJInformation li {
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  list-style: none;
}

.TSJInformation li {
  padding-left: none;
  margin-left: -40px;
}

.TSJTable table {
  margin-top: 70px;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.TSJTable td {
  border: 1px solid #563522;
  height: 400px;
}

.TSJTable td:first-child {
  width: 60%;
}

.TSJTable p {
  font-size: 18px;
}

.TSJAchievements {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.TSJAchievements span {
  font-size: 18px;
}