.header-header {
  width: 100%;
  height: 96px;
  display: flex;
  z-index: 999;
  position: fixed;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #d5e0fd;
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-image {
  width: 200px;
  height: auto;
  text-decoration: none;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.header-link {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink1 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-link1 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink2 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink3 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: 32px;
  height: 32px;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d5e0fd;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logo {
  width: 200px;
  height: auto;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-link2 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink4 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link3 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink5 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink6 {
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}







@media(max-width: 1600px) {
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
}
@media(max-width: 1200px) {
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
  .header-logo {
    width: 155px;
  }
}
@media(max-width: 991px) {
  .header-header {
    height: 72px;
    padding: var(--dl-space-space-unit);
    align-items: center;
  }
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-image {
    width: 155px;
    height: auto;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
  .header-logo {
    width: 135px;
  }
}
@media(max-width: 767px) {
  .header-header {
    height: 48px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-image {
    width: 100px;
    height: auto;
  }
  .header-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
  .header-logo {
    width: 100px;
  }
}
@media(max-width: 479px) {
  .header-header {
    height: 48px;
    padding: var(--dl-space-space-halfunit);
  }
  .header-navbar-interactive {
    padding: 0px;
  }
  .header-image {
    width: 100px;
    height: auto;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
  .header-mobile-menu {
    padding: 16px;
  }
}

.title-separator-main-projects-title {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.title-separator-container {
  flex: 1;
  width: auto;
  height: 20px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: flex-start;
  background-color: #d5e0fd;
}
.title-separator-text {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 48px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  animation-name: none;
  text-transform: uppercase;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.title-separator-container1 {
  flex: 1;
  width: auto;
  height: 20px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
  background-color: #d5e0fd;
}





.title-separator-root-class-name5 {
  margin-top: 160px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.title-separator-root-class-name6 {
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
}










@media(max-width: 1600px) {
  .title-separator-container {
    height: 20px;
  }
  .title-separator-container1 {
    height: 20px;
  }
  .title-separator-root-class-name5 {
    margin-top: 160px;
  }
}
@media(max-width: 1200px) {
  .title-separator-container {
    width: 25%;
    height: 20px;
  }
  .title-separator-container1 {
    width: 25%;
    height: 20px;
  }
  .title-separator-root-class-name5 {
    margin-top: 160px;
  }
}
@media(max-width: 991px) {
  .title-separator-container {
    height: 20px;
    margin-left: var(--dl-space-space-twounits);
  }
  .title-separator-text {
    font-size: 40px;
  }
  .title-separator-container1 {
    height: 20px;
    margin-right: var(--dl-space-space-twounits);
  }
  .title-separator-root-class-name5 {
    margin-top: 144px;
  }
  .title-separator-root-class-name10 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .title-separator-root-class-name14 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .title-separator-main-projects-title {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .title-separator-container {
    width: 20%;
    height: 20px;
  }
  .title-separator-text {
    font-size: 32px;
  }
  .title-separator-container1 {
    width: 20%;
    height: 20px;
  }
  .title-separator-root-class-name5 {
    margin-top: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 479px) {
  .title-separator-main-projects-title {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .title-separator-container {
    width: 10px;
    opacity: 0;
  }
  .title-separator-text {
    width: auto;
    font-size: 24px;
  }
  .title-separator-container1 {
    width: 10px;
    opacity: 0;
  }
  .title-separator-root-class-name5 {
    margin-top: var(--dl-space-space-fiveunits);
  }
}

.heading-project-pages-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.heading-project-pages-text {
  z-index: 100;
  font-size: 28px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.heading-project-pages-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 99;
  align-items: flex-start;
}
.heading-project-pages-image {
  flex: 1;
  width: auto;
  height: 15px;
  margin-top: -15px;
  object-fit: cover;
  margin-left: -10px;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius32);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-radius32);
  border-bottom-right-radius: 0;
}
.heading-project-pages-image1 {
  flex: 1;
  width: 50%;
  height: 15px;
  margin-top: -15px;
  object-fit: cover;
  margin-left: -1px;
  margin-right: -10px;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 0;
  border-top-right-radius: var(--dl-radius-radius-radius32);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--dl-radius-radius-radius32);
}










.heading-project-pages-root-class-name10 {
  margin-right: 8px;
}


.heading-project-pages-root-class-name13 {
  margin-right: 8px;
}

.heading-project-pages-root-class-name15 {
  margin-right: 5px;
}





.heading-project-pages-root-class-name21 {
  margin-right: 8px;
}

.heading-project-pages-root-class-name23 {
  margin-right: 8px;
}



.heading-project-pages-root-class-name27 {
  margin-right: 8px;
}


.heading-project-pages-root-class-name30 {
  margin-right: 8px;
}






.heading-project-pages-root-class-name37 {
  margin-right: 8px;
}


.heading-project-pages-root-class-name40 {
  margin-right: 8px;
}
.heading-project-pages-root-class-name41 {
  margin-right: 8px;
}


.heading-project-pages-root-class-name44 {
  margin-right: 8px;
}

.heading-project-pages-root-class-name46 {
  margin-right: 8px;
}




.heading-project-pages-root-class-name51 {
  margin-right: 5px;
}


.heading-project-pages-root-class-name54 {
  margin-right: 8px;
}




.heading-project-pages-root-class-name59 {
  margin-right: 8px;
}

.heading-project-pages-root-class-name61 {
  margin-right: 8px;
}

.heading-project-pages-root-class-name63 {
  margin-right: 8px;
}

.heading-project-pages-root-class-name65 {
  margin-right: 8px;
}









@media(max-width: 1600px) {
  .heading-project-pages-container {
    margin-bottom: var(--dl-space-space-unit);
  }
  .heading-project-pages-image {
    margin-top: -15px;
  }
  .heading-project-pages-image1 {
    margin-top: -15px;
    margin-left: -1px;
  }
  .heading-project-pages-root-class-name10 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name13 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name15 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name21 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name23 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name27 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name30 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name37 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name40 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name41 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name44 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name46 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name51 {
    margin-right: 5px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name59 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name61 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name63 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-root-class-name65 {
    margin-right: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 1200px) {
  .heading-project-pages-container {
    margin-bottom: var(--dl-space-space-unit);
  }
  .heading-project-pages-image {
    margin-top: -15px;
  }
  .heading-project-pages-image1 {
    margin-top: -15px;
    margin-left: -1px;
  }
  .heading-project-pages-root-class-name10 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name13 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name15 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name21 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name23 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name27 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name30 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name37 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name40 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name41 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name44 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name46 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name51 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name59 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name61 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name63 {
    margin-right: 8px;
  }
  .heading-project-pages-root-class-name65 {
    margin-right: 8px;
  }
}
@media(max-width: 991px) {
  .heading-project-pages-container {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-text {
    font-size: 20px;
  }
  .heading-project-pages-image {
    height: 14px;
    margin-top: -12px;
  }
  .heading-project-pages-image1 {
    height: 14px;
    margin-top: -12px;
    margin-left: -1px;
  }
  .heading-project-pages-root-class-name10 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name13 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name15 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name21 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name23 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name27 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name30 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name37 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name40 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name41 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name44 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name46 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name51 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name54 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name59 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name61 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name63 {
    margin-right: 6px;
  }
  .heading-project-pages-root-class-name65 {
    margin-right: 6px;
  }
}
@media(max-width: 767px) {
  .heading-project-pages-container {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .heading-project-pages-text {
    font-size: 14px;
  }
  .heading-project-pages-image {
    height: 8px;
    margin-top: -6px;
    margin-left: -8px;
  }
  .heading-project-pages-image1 {
    height: 8px;
    margin-top: -6px;
    margin-right: -8px;
  }
  .heading-project-pages-root-class-name10 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name11 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name13 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name15 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name21 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name23 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name27 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name30 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name37 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name40 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name41 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name44 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name46 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name51 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name54 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name59 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name61 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name63 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name65 {
    margin-right: 5px;
  }
}
@media(max-width: 479px) {
  .heading-project-pages-container {
    margin-bottom: 4px;
  }
  .heading-project-pages-text {
    font-size: 12px;
  }
  .heading-project-pages-image {
    height: 8px;
    margin-top: -6px;
    margin-left: -6px;
  }
  .heading-project-pages-image1 {
    height: 8px;
    margin-top: -6px;
    margin-right: -6px;
  }
  .heading-project-pages-root-class-name10 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name13 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name15 {
    margin-right: 5px;
  }
  .heading-project-pages-root-class-name21 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name23 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name27 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name30 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name37 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name40 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name41 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name44 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name46 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name51 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name59 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name61 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name63 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .heading-project-pages-root-class-name65 {
    margin-right: 5px;
    margin-bottom: 4px;
  }
}

.back-to-top-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
}
.back-to-top-button {
  color: #ffffff;
  font-size: 22px;
  align-self: flex-end;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  border-width: 0px;
  margin-right: 0px;
  background-color: rgb(249, 92, 92);
  cursor: pointer;
}

.back-to-top-root-class-name1 {
  align-self: center;
}
.back-to-top-root-class-name2 {
  align-self: center;
}
.back-to-top-root-class-name3 {
  align-self: center;
}
.back-to-top-root-class-name4 {
  align-self: center;
}
.back-to-top-root-class-name5 {
  align-self: center;
}
.back-to-top-root-class-name6 {
  align-self: center;
}
.back-to-top-root-class-name7 {
  align-self: center;
}


@media(max-width: 1200px) {
  .back-to-top-button {
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .back-to-top-button {
    font-size: 16px;
  }
}
@media(max-width: 767px) {
  .back-to-top-button {
    width: auto;
    font-size: 12px;
    padding-top: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
  }
}
@media(max-width: 479px) {
  .back-to-top-button {
    width: auto;
    font-size: 8px;
    padding-top: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  bottom: 0;
  height: 240px;
  display: flex;
  position: sticky;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-color: #d5e0fd;
}
.footer-text {
  color: #000000;
  font-size: 36px;
  align-self: center;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
}
.footer-text01 {
  color: #000000;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: 0px;
  justify-content: center;
}
.footer-link {
  color: rgba(0, 0, 0, 0);
  width: 80px;
  height: 80px;
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  text-align: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  text-decoration: none;
  background-image: url("./Icons/linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer-link1 {
  color: rgba(0, 0, 0, 0);
  width: 80px;
  height: 80px;
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  text-align: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  animation-name: none;
  animation-delay: 0s;
  background-size: cover;
  text-decoration: none;
  background-image: url("./Icons/email.svg");
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}


.footer-root-class-name2 {
  margin-top: 0px;
}

.footer-root-class-name4 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-threeunits);
}




@media(max-width: 1600px) {
  .footer-root-class-name2 {
    margin-top: 0px;
  }
  .footer-root-class-name4 {
    margin-top: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 1200px) {
  .footer-root-class-name2 {
    margin-top: 0px;
  }
  .footer-root-class-name4 {
    margin-top: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 991px) {
  .footer-footer {
    margin-top: var(--dl-space-space-twounits);
  }
  .footer-root-class-name2 {
    margin-top: 0px;
  }
  .footer-root-class-name4 {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
  }
  .footer-text {
    font-size: 18px;
    margin-top: var(--dl-space-space-unit);
  }
  .footer-text01 {
    font-size: 10px;
  }
  .footer-container {
    height: auto;
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-link {
    width: 36px;
    height: 36px;
  }
  .footer-link1 {
    width: 36px;
    height: 36px;
  }
  .footer-root-class-name2 {
    margin-top: 0px;
  }
  .footer-root-class-name5 {
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    align-items: stretch;
  }
  .footer-text {
    font-size: 18px;
    margin-top: var(--dl-space-space-unit);
  }
  .footer-text01 {
    font-size: 10px;
  }
  .footer-container {
    height: auto;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-link {
    width: 36px;
    height: 36px;
  }
  .footer-link1 {
    width: 36px;
    height: 36px;
  }
  .footer-root-class-name2 {
    margin-top: 0px;
  }
}

.the-long-dark-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.the-long-dark-container01 {
  width: 100%;
  height: calc(100%-96px);
  display: flex;
  overflow: hidden;
  align-self: stretch;
  margin-top: var(--dl-space-space-sixunits);
  align-items: stretch;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.the-long-dark-video {
  width: 100%;
  height: calc(100vh-96px);
}
.the-long-dark-container02 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  max-width: 500px;
  margin-top: 330px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius32);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(213, 224, 253, 0.85);
}
.the-long-dark-text {
  font-size: 28px;
  font-style: normal;
  margin-top: 0px;
  font-weight: 600;
  text-transform: uppercase;
}
.the-long-dark-text01 {
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.the-long-dark-container03 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.the-long-dark-container04 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.the-long-dark-image {
  width: 100px;
  height: 100px;
  padding: var(--dl-space-space-unit);
  max-width: 100px;
  min-width: 60px;
  object-fit: cover;
}
.the-long-dark-text03 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
}
.the-long-dark-container05 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.the-long-dark-image1 {
  width: 100px;
  height: 100px;
  padding: var(--dl-space-space-unit);
  max-width: 100px;
  min-width: 60px;
  object-fit: cover;
}
.the-long-dark-text04 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
}
.the-long-dark-container06 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.the-long-dark-image2 {
  width: 100px;
  height: 100px;
  padding: var(--dl-space-space-unit);
  max-width: 100px;
  min-width: 60px;
  object-fit: cover;
}
.the-long-dark-text05 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
}
.the-long-dark-container07 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.the-long-dark-image3 {
  width: 100px;
  height: 100px;
  padding: var(--dl-space-space-unit);
  max-width: 100px;
  min-width: 60px;
  object-fit: cover;
}
.the-long-dark-text06 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
}
.the-long-dark-link {
  color: #ffffff;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  margin-bottom: 0px;
  background-color: #F95C5C;
}
.the-long-dark-link:hover {
  background-color: #ce3e3e;
}
.the-long-dark-reference-game-research {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 0px;
}
.the-long-dark-text07 {
  font-size: 18px;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins";
  margin-bottom: var(--dl-space-space-fiveunits);
}
.the-long-dark-text08 {
  font-size: 18px;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins";
  margin-bottom: 0px;
}
.the-long-dark-text09 {
  font-weight: 700;
}
.the-long-dark-text10 {
  font-weight: 700;
}
.the-long-dark-text14 {
  font-weight: 700;
}
.the-long-dark-reference-game-research1 {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.the-long-dark-text18 {
  font-size: 18px;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins";
  margin-bottom: var(--dl-space-space-unit);
}
.the-long-dark-container08 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.the-long-dark-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-long-dark-image4 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
}
.the-long-dark-text19 {
  align-self: center;
  font-style: italic;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.the-long-dark-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-long-dark-slider {
  width: 1104px;
  height: 621px;
  display: inline-block;
}
.the-long-dark-slider-slide-replace {
  display: flex;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: cover;
  background-image: url("./Projects/TLD/wireframe_hud.png");
}
.the-long-dark-slider-slide-replace01 {
  display: flex;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/wireframe_mainmenu.png");
}
.the-long-dark-slider-pagination {
  display: block;
}
.the-long-dark-text22 {
  align-self: center;
  font-style: italic;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.the-long-dark-container11 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.the-long-dark-slider1 {
  width: 1104px;
  height: 1429px;
  display: inline-block;
}
.the-long-dark-slider-slide-replace02 {
  display: flex;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/researchdoc1.png");
}
.the-long-dark-slider-slide-replace03 {
  display: flex;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/researchdoc2.png");
}
.the-long-dark-slider-slide-replace04 {
  display: flex;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/researchdoc3.png");
}
.the-long-dark-slider-slide-replace05 {
  display: flex ;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/researchdoc4.png");
}
.the-long-dark-slider-slide-replace06 {
  display: flex ;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/researchdoc5.png");
}
.the-long-dark-slider-slide-replace07 {
  display: flex ;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/researchdoc6.png");
}
.the-long-dark-slider-slide-replace08 {
  display: flex ;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/researchdoc7.png");
}
.the-long-dark-slider-slide-replace09 {
  display: flex ;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-size: 100%;
  background-image: url("./Projects/TLD/researchdoc8.png");
}
.the-long-dark-slider-pagination1 {
  display: block;
}
.the-long-dark-text25 {
  align-self: center;
  font-style: italic;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.the-long-dark-implementation {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.the-long-dark-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.the-long-dark-text28 {
  font-size: 18px;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins";
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.the-long-dark-container13 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.the-long-dark-text29 {
  font-size: 18px;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins";
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 0px;
}
.the-long-dark-text33 {
  font-weight: 700;
}
.the-long-dark-text37 {
  font-weight: 700;
}
.the-long-dark-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-long-dark-video1 {
  width: 600px;
  height: auto;
}
.the-long-dark-text39 {
  align-self: center;
  font-style: italic;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.the-long-dark-modular-assets {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.the-long-dark-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.the-long-dark-container16 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-long-dark-text42 {
  font-size: 18px;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins";
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 0px;
}
.the-long-dark-text44 {
  font-style: normal;
  font-weight: 400;
}
.the-long-dark-text45 {
  font-style: normal;
  font-weight: 400;
}
.the-long-dark-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-long-dark-image5 {
  width: 600px;
  height: auto;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
}
.the-long-dark-text46 {
  align-self: center;
  font-style: italic;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.the-long-dark-documentation {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.the-long-dark-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.the-long-dark-container19 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.the-long-dark-container20 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-long-dark-text49 {
  font-size: 18px;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins";
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 0px;
}
.the-long-dark-text50 {
  font-weight: 700;
}
.the-long-dark-text53 {
  font-weight: 700;
}
.the-long-dark-text54 {
  font-weight: 700;
}
.the-long-dark-container21 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-long-dark-video2 {
  width: 600px;
  height: auto;
}
.the-long-dark-text56 {
  align-self: center;
  font-style: italic;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.the-long-dark-achievements {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.the-long-dark-container22 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.the-long-dark-text59 {
  font-size: 18px;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins";
  margin-bottom: 0px;
}
.the-long-dark-component12 {
  text-decoration: none;
}
@media(max-width: 1600px) {
  .the-long-dark-container02 {
    margin-top: 220px;
  }
  .the-long-dark-text {
    font-size: 28px;
  }
  .the-long-dark-reference-game-research {
    width: 1200px;
    align-self: center;
  }
  .the-long-dark-reference-game-research1 {
    width: 1200px;
    align-self: center;
  }
  .the-long-dark-implementation {
    width: 1200px;
    align-self: center;
  }
  .the-long-dark-container12 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-modular-assets {
    width: 1200px;
    align-self: center;
  }
  .the-long-dark-container16 {
    flex: 1;
  }
  .the-long-dark-documentation {
    width: 1200px;
    align-self: center;
  }
  .the-long-dark-container18 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-container20 {
    flex: 1;
  }
  .the-long-dark-achievements {
    width: 1200px;
    align-self: center;
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 1200px) {
  .the-long-dark-container01 {
    height: auto;
  }
  .the-long-dark-container02 {
    margin-top: 170px;
  }
  .the-long-dark-text {
    font-size: 28px;
  }
  .the-long-dark-image {
    padding: var(--dl-space-space-unit);
  }
  .the-long-dark-image1 {
    padding: var(--dl-space-space-unit);
  }
  .the-long-dark-image2 {
    padding: var(--dl-space-space-unit);
  }
  .the-long-dark-image3 {
    padding: var(--dl-space-space-unit);
  }
  .the-long-dark-reference-game-research {
    width: 100%;
    align-self: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .the-long-dark-text07 {
    font-size: 16px;
  }
  .the-long-dark-text08 {
    font-size: 16px;
  }
  .the-long-dark-reference-game-research1 {
    width: 100%;
    align-self: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .the-long-dark-text18 {
    font-size: 16px;
  }
  .the-long-dark-container08 {
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
    justify-content: center;
  }
  .the-long-dark-container09 {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .the-long-dark-image4 {
    width: 100%;
    height: auto;
  }
  .the-long-dark-text19 {
    font-size: 16px;
  }
  .the-long-dark-slider {
    width: 900px;
    height: 512px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .the-long-dark-text22 {
    font-size: 16px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .the-long-dark-container11 {
    align-self: center;
  }
  .the-long-dark-slider1 {
    width: 900px;
    height: 1245px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .the-long-dark-text25 {
    font-size: 16px;
  }
  .the-long-dark-implementation {
    width: 100%;
    align-self: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .the-long-dark-container12 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-text28 {
    font-size: 16px;
  }
  .the-long-dark-text29 {
    font-size: 16px;
  }
  .the-long-dark-text39 {
    font-size: 16px;
  }
  .the-long-dark-modular-assets {
    width: 100%;
    align-self: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .the-long-dark-text42 {
    font-size: 16px;
  }
  .the-long-dark-text46 {
    font-size: 16px;
  }
  .the-long-dark-documentation {
    width: 100%;
    align-self: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .the-long-dark-container18 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-text49 {
    font-size: 16px;
  }
  .the-long-dark-text56 {
    font-size: 16px;
  }
  .the-long-dark-achievements {
    width: 100%;
    align-self: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .the-long-dark-text59 {
    font-size: 16px;
  }
}
@media(max-width: 991px) {
  .the-long-dark-container01 {
    margin-top: 72px;
  }
  .the-long-dark-video {
    height: 100%;
  }
  .the-long-dark-container02 {
    max-width: 400px;
    margin-top: 120px;
  }
  .the-long-dark-text {
    font-size: 22px;
  }
  .the-long-dark-text01 {
    font-size: 12px;
  }
  .the-long-dark-text02 {
    font-size: 12px;
  }
  .the-long-dark-image {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .the-long-dark-text03 {
    font-size: 12px;
  }
  .the-long-dark-image1 {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .the-long-dark-text04 {
    font-size: 12px;
  }
  .the-long-dark-image2 {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .the-long-dark-text05 {
    font-size: 12px;
  }
  .the-long-dark-image3 {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .the-long-dark-text06 {
    font-size: 12px;
  }
  .the-long-dark-reference-game-research {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .the-long-dark-text07 {
    font-size: 14px;
  }
  .the-long-dark-text08 {
    font-size: 14px;
  }
  .the-long-dark-reference-game-research1 {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .the-long-dark-text18 {
    font-size: 14px;
  }
  .the-long-dark-container08 {
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .the-long-dark-container09 {
    width: 100%;
  }
  .the-long-dark-image4 {
    width: 100%;
    height: auto;
  }
  .the-long-dark-text19 {
    font-size: 14px;
    align-self: center;
  }
  .the-long-dark-slider {
    width: 700px;
    height: 400px;
  }
  .the-long-dark-text22 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .the-long-dark-slider1 {
    width: 700px;
    height: 950px;
  }
  .the-long-dark-text25 {
    font-size: 14px;
  }
  .the-long-dark-implementation {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .the-long-dark-container12 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-text28 {
    font-size: 14px;
  }
  .the-long-dark-container13 {
    flex-direction: column;
  }
  .the-long-dark-text29 {
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .the-long-dark-video1 {
    width: 100%;
  }
  .the-long-dark-text39 {
    font-size: 14px;
  }
  .the-long-dark-modular-assets {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .the-long-dark-container15 {
    flex-direction: column;
  }
  .the-long-dark-container16 {
    width: 100%;
  }
  .the-long-dark-text42 {
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .the-long-dark-image5 {
    width: 100%;
    height: auto;
  }
  .the-long-dark-text46 {
    font-size: 14px;
  }
  .the-long-dark-documentation {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .the-long-dark-container18 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-container19 {
    flex-direction: column;
  }
  .the-long-dark-container20 {
    width: 100%;
  }
  .the-long-dark-text49 {
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .the-long-dark-container21 {
    width: 100%;
  }
  .the-long-dark-video2 {
    width: 100%;
  }
  .the-long-dark-text56 {
    font-size: 14px;
  }
  .the-long-dark-achievements {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .the-long-dark-text59 {
    font-size: 14px;
  }
}
@media(max-width: 767px) {
  .the-long-dark-container01 {
    height: 600px;
    margin-top: var(--dl-space-space-threeunits);
  }
  .the-long-dark-container02 {
    width: auto;
    max-width: 350px;
    margin-top: 180px;
  }
  .the-long-dark-text {
    font-size: 20px;
  }
  .the-long-dark-text01 {
    font-size: 12px;
  }
  .the-long-dark-text02 {
    font-size: 12px;
  }
  .the-long-dark-image {
    padding: 4px;
  }
  .the-long-dark-text03 {
    font-size: 10px;
  }
  .the-long-dark-image1 {
    padding: 4px;
  }
  .the-long-dark-text04 {
    font-size: 10px;
  }
  .the-long-dark-image2 {
    padding: 4px;
  }
  .the-long-dark-text05 {
    font-size: 10px;
  }
  .the-long-dark-image3 {
    padding: 4px;
  }
  .the-long-dark-text06 {
    font-size: 10px;
  }
  .the-long-dark-link {
    font-size: 14px;
  }
  .the-long-dark-reference-game-research {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .the-long-dark-text07 {
    font-size: 10px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-text08 {
    font-size: 10px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-reference-game-research1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .the-long-dark-text18 {
    font-size: 10px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container08 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .the-long-dark-container09 {
    width: 100%;
    flex-direction: column;
  }
  .the-long-dark-image4 {
    width: 100%;
    height: auto;
  }
  .the-long-dark-text19 {
    font-size: 10px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-slider {
    width: 435px;
    height: 250px;
    align-self: center;
  }
  .the-long-dark-text22 {
    font-size: 10px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container11 {
    align-self: center;
    align-items: center;
    justify-content: space-between;
  }
  .the-long-dark-slider1 {
    width: 435px;
    height: 585px;
    align-self: center;
  }
  .the-long-dark-text25 {
    font-size: 10px;
  }
  .the-long-dark-implementation {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .the-long-dark-container12 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-text28 {
    font-size: 10px;
  }
  .the-long-dark-container13 {
    flex-direction: column;
  }
  .the-long-dark-text29 {
    font-size: 10px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container14 {
    width: 100%;
  }
  .the-long-dark-text39 {
    font-size: 10px;
  }
  .the-long-dark-modular-assets {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .the-long-dark-container15 {
    flex-direction: column;
  }
  .the-long-dark-container16 {
    width: 100%;
  }
  .the-long-dark-text42 {
    font-size: 10px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container17 {
    width: 100%;
  }
  .the-long-dark-image5 {
    width: 100%;
    height: auto;
  }
  .the-long-dark-text46 {
    font-size: 10px;
  }
  .the-long-dark-documentation {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .the-long-dark-container18 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-container19 {
    flex-direction: column;
  }
  .the-long-dark-container20 {
    width: 100%;
  }
  .the-long-dark-text49 {
    font-size: 10px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container21 {
    width: 100%;
  }
  .the-long-dark-text56 {
    font-size: 10px;
  }
  .the-long-dark-achievements {
    padding-bottom: var(--dl-space-space-unit);
  }
  .the-long-dark-text59 {
    font-size: 10px;
  }
}
@media(max-width: 479px) {
  .the-long-dark-container01 {
    height: 450px;
    margin-top: var(--dl-space-space-threeunits);
  }
  .the-long-dark-container02 {
    width: auto;
    padding: var(--dl-space-space-oneandhalfunits);
    max-width: 275px;
    margin-top: 150px;
  }
  .the-long-dark-text {
    font-size: 16px;
  }
  .the-long-dark-text01 {
    font-size: 8px;
  }
  .the-long-dark-text02 {
    font-size: 8px;
  }
  .the-long-dark-image {
    padding: 4px;
    min-width: 40px;
  }
  .the-long-dark-text03 {
    font-size: 8px;
  }
  .the-long-dark-image1 {
    padding: 4px;
    min-width: 40px;
  }
  .the-long-dark-text04 {
    font-size: 8px;
  }
  .the-long-dark-image2 {
    padding: 4px;
    min-width: 40px;
  }
  .the-long-dark-text05 {
    font-size: 8px;
  }
  .the-long-dark-image3 {
    padding: 4px;
    min-width: 40px;
  }
  .the-long-dark-text06 {
    font-size: 8px;
  }
  .the-long-dark-link {
    height: 20px;
    font-size: 8px;
  }
  .the-long-dark-text07 {
    font-size: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-text08 {
    font-size: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-text18 {
    font-size: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container08 {
    flex-direction: column;
  }
  .the-long-dark-container09 {
    width: 100%;
    flex-direction: column;
  }
  .the-long-dark-image4 {
    width: 100%;
    height: auto;
  }
  .the-long-dark-text19 {
    font-size: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-slider {
    width: 290px;
    height: 165px;
    align-self: center;
  }
  .the-long-dark-text22 {
    font-size: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container11 {
    align-self: center;
    align-items: center;
  }
  .the-long-dark-slider1 {
    width: 290px;
    height: 400px;
    align-self: center;
  }
  .the-long-dark-text25 {
    font-size: 8px;
  }
  .the-long-dark-container12 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-text28 {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .the-long-dark-container13 {
    flex-direction: column;
  }
  .the-long-dark-text29 {
    font-size: 8px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container14 {
    width: 100%;
  }
  .the-long-dark-text39 {
    font-size: 8px;
  }
  .the-long-dark-container15 {
    flex-direction: column;
  }
  .the-long-dark-container16 {
    width: 100%;
  }
  .the-long-dark-text42 {
    font-size: 8px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-container17 {
    width: 100%;
  }
  .the-long-dark-image5 {
    width: 100%;
    height: auto;
  }
  .the-long-dark-text46 {
    font-size: 8px;
  }
  .the-long-dark-container18 {
    height: auto;
    flex-wrap: wrap;
  }
  .the-long-dark-container19 {
    flex-direction: column;
  }
  .the-long-dark-container20 {
    width: 100%;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .the-long-dark-text49 {
    font-size: 8px;
    margin-right: 0px;
  }
  .the-long-dark-container21 {
    width: 100%;
  }
  .the-long-dark-text56 {
    font-size: 8px;
  }
  .the-long-dark-text59 {
    font-size: 8px;
  }
}
